


.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .BuscadorPokemon {
    width: 250px;
    margin-bottom: 80px;
    height: 32px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 16px 32px;
    font-size: medium;
    padding-left: 16px;
  }

*/

.BuscadorPokemon {
margin: 0 auto;
text-align: center;
border: 2px solid black;
font-size: medium;
width: 250px;
height: 32px;
margin-bottom: 50px;
border-radius: 8px;
}

body {
  background-color: rgb(65, 121, 91);
  margin: 0;
  font-family: rubik;
  color: white;
}
.container {
  padding: 20px;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
.poke__div {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  width: 200px;
  border-radius: 16px;
  border: 2px solid black;
}
.poke__nombre {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.poke__num {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}
.card-image {
  height: 180px;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.poke__div:hover {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

